{% extends 'base.html.twig' %}

{% block title %}Hotel index{% endblock %}

{% block body %}
<div>
    <h3 class="h3 my-4">Où dormir</h3>

    <div id="hotel" class="row">
        {% if city %}
        {% for city, hotel in hotels %}
                <div class="col-5 col-md-3 col-lg-2 card align-items-center opacity-75 m-1 justify-content-center ActivityPic position-relative" alt=" {{ hotel.alt }}" style="background-image: url( '{{ hotel.picture }}' )">
                    {# <img class="card-img-top" src="{{ activity.picture }}" alt="Card image cap"> #}
                    <div class="card-body position-relative p-0 mx-2">
                      <div class="card-title h4 text-center text-secondary" >{{ hotel.name }}</div>
                      <a href="{{ hotel.url }}" class="btn btn-secondary mb-3 mr-3 position-absolute bottom-0 end-0 " data-tor="place.center place.bottom">Au dodo!</a>
                    </div>
                  </div>
        {% else %}
            <tr>
                <td colspan="5">Oup's! Je n'ai pas dormi dans cette ville</td>
            </tr>
        {% endfor %}
        {% endif %}
        
    </div>
</div>
{% endblock %}
