{% extends 'base.html.twig' %}

{% block title %}Country{% endblock %}

{% block body %}
    <h1>{{ country.name }}</h1>

    <table class="table">
        <tbody>
            
            <tr>
                <th>Date</th>
                <td>{{ country.date ? country.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ country.duration }}</td>
            </tr>
            <tr>
                <th>Hello</th>
                <td>{{ country.hello }}</td>
            </tr>
            <tr>
                <th>Thanku</th>
                <td>{{ country.thanku }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ country.picture }}</td>
            </tr>
            <tr>
                <th>Diving</th>
                <td>{{ country.diving }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ country.content }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ country.slug }}</td>
            </tr>
            <tr>
                <th>Links</th>
                <td>{{ country.links }}</td>
            </tr>
            <tr>
                <th>Bye</th>
                <td>{{ country.bye }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('country_index') }}">back to list</a>

    

 
{% endblock %}
