{% extends 'base.html.twig' %}

{% block title %}PAYS ou Ile{% endblock %}

{% block body %}
<h1 class="text-center my-5">{{ country.name }}</h1>

<section class="containertop container">
    <h3>Durée du séjour : {{ country.duration }} jours</h3>
<div class="countrymap">
    <img src="{{ country.picture }}" class="img-fluid" />
</div>
<div class-"countrycities">
    <div class="words">
        <ul>
            <li>{{ country.hello }}</li>
            <li>{{ country.thanku }}</li>
            <li>{{ country.bye }}</li>
        </ul>
    </div>
    {# <ul>
    {% for city in country %}
    <li class="cities">{{ city.name }}</li>
    {% endfor %}
    </ul> #}
</div>
</section>
<section class="containermiddle container">
    <ul>
        <li>{{ country.diving }}</li>
    </ul>
    <div class="bodytext">{{ country.content }}</div>
</section>

{% include 'city/index.html.twig' %}


{% endblock %}