{% extends 'base.html.twig' %}

{% block title %}City index{% endblock %}

{% block body %}
    <h1 class="text-center">Programme de visite : </h1>
    
    {% if country %}
    <section class="text-start m-5">
    {% for country, city in cities %}
    <h2 class="my-3">
        <a class="text-decoration-none" href="{{ path('city_show', {'id': city.id}) }}">Ville visitée: {{ city.name }}</a>
    </h2>
    <h4>Nombre de jours sur place : {{ city.duration }}jours</h4>
    <div class="citymap">
        <img src="{{ city.picture }}" class="img-fluid"/>
    </div>
    <ul>
        <li>{{ city.date ? city.date|date('Y-m-d') : '' }}</li>
        
        <li>{{ city.content }}</li>
    </ul>
    {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
    {% endfor %}
    {% endif %}

    </section>

{% endblock %}
