{% extends 'base.html.twig' %}

{% block title %}Resto index{% endblock %}

{% block body %}
    <p class="h3 my-4">Restaurants testés</p>

    <section class=" text-start m-3">
        {% if city %}
        {% for city, resto in restos %}
                <div class="card align-items-center opacity-75 justify-content-center ActivityPic position-relative" alt=" {{ resto.alt }}" style="background-image: url( '{{ resto.picture }}' )">
                    {# <img class="card-img-top" src="{{ activity.picture }}" alt="Card image cap"> #}
                    <div class="card-body position-relative p-0">
                      <div class="card-title h4 text-center text-secondary" data-tor="place.left place.middle">{{ resto.name }}</div>
                      <a href="{{ resto.url }}" class="btn btn-secondary" data-tor="place.right place.bottom">Miam</a>
                    </div>
                  </div>
        {% else %}
            <tr>
                <td colspan="5">Oup's! Je n'ai pas mangé dans cette ville</td>
            </tr>
        {% endfor %}
        {% endif %}
        
    </section>
{% endblock %}
