{% extends 'base.html.twig' %}

{% block title %}Resto{% endblock %}

{% block body %}
    <h1>Resto</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ resto.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ resto.name }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ resto.picture }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ resto.url }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('resto_index') }}">back to list</a>

{% endblock %}
