{% extends 'admin/base.html.twig' %}

{% block title %}Edit City{% endblock %}

{% block body %}
<h1 class="d-flex justify-content-center text-secondary">{{ city.name }}</h1>
<a href="{{ path('admin_city_index') }}">Retour à la liste</a>

{# <section class="container">
	<div class="row justify-content-around">
        {% for activity in city %}
        <div class="col-lg-4">
            <a href="{{ path('admin_activity_edit', {'id': activity.id}) }}" class="rounded-pill justify-content-center bg-secondary shadow d-block mb-2 mb-lg-4 p-2 p-md-4 p-lg-5 fs-lg-2 fs-4 text-uppercase text-white text-decoration-none text-center">
                {{ activity.name }}
            </a>
        </div>
        {% else %}
        <div class="container my-2 my-lg-2">
            <div class="row d-flex flex-lg-row justify-content-center">
            <a href="{{ path('admin_activity_new') }}" class="btn btn-light fs-5 text-secondary col-12 col-lg-5 col-xl-3 py-1 mb-4 mb-lg-0">{{ 'AJOUTER LA PREMIERE ACTIVITE'|trans }}</a>
            </div>
          </div>
      {% endfor %}
    </div>

	<div class="row justify-content-around">
        {% for hotel in city %}
        <div class="  col-lg-4">
            <a href="{{ path('admin_hotel_edit', {'id': hotel.id}) }}" class="rounded-pill justify-content-center bg-secondary shadow d-block mb-2 mb-lg-4 p-2 p-md-4 p-lg-5 fs-lg-2 fs-4 text-uppercase text-white text-decoration-none text-center">
                {{ hotel.name }}
            </a>
        </div>
        {% else %}
        <div class="container my-2 my-lg-2">
            <div class="row d-flex flex-lg-row justify-content-center">
            <a href="{{ path('admin_hotel_new') }}" class="btn btn-light fs-5 text-secondary col-12 col-lg-5 col-xl-3 py-1 mb-4 mb-lg-0">{{ 'AJOUTER UN PREMIER HOTEL'|trans }}</a>
            </div>
          
      {% endfor %}
    </div>
    <div class="row justify-content-around">
        {% for resto in city %}
        <div class=" col-lg-4">
            <a href="{{ path('admin_hotel_edit', {'id': resto.id}) }}" class="rounded-pill justify-content-center bg-secondary shadow d-block mb-2 mb-lg-4 p-2 p-md-4 p-lg-5 fs-lg-2 fs-4 text-uppercase text-white text-decoration-none text-center">
                {{ resto.name }}
            </a>
        </div>
        {% else %}
        <div class="container my-2 my-lg-2">
            <div class="row d-flex flex-lg-row justify-content-center">
            <a href="{{ path('admin_resto_new') }}" class="btn btn-light fs-5 text-secondary col-12 col-lg-5 col-xl-3 py-1 mb-4 mb-lg-0">{{ 'AJOUTER UN PREMIER RESTO'|trans }}</a>
            </div>
          </div>
      {% endfor %}
    </div>
</section> #}
<section class="mx-5">
    {{ include('admin/city/_form.html.twig', {'button_label': 'Valider'}) }}
</section>


    {{ include('admin/city/_delete_form.html.twig') }}
{% endblock %}
